chinese_calendar==1.9.1
fastapi==0.103.0
pydantic==2.5.3
Requests==2.32.3
SQLAlchemy==2.0.30
uvicorn==0.20.0
loguru==0.7.2
scipy==1.13.1
beautifulsoup4==4.12.3
cachetools==5.5.0
numpy==1.26.4
scikit-learn==1.5.2
aiosqlite==0.20.0
akshare==1.14.80